video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  position: absolute;
  inset: 0;
}

.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  */
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(19, 19, 19, 1) 0%,
    rgba(19, 19, 19, .75) 5%, /* Adjusted stop */
    rgba(19, 19, 19, 0) 25%, /* Adjusted stop */
    rgba(19, 19, 19, 0) 100%
  );
  z-index: 100;
}

.hero-text-container > h1 {
  color: #c5c5c5;
  margin-top: -250px;
  font-size: 42px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
}

.hero-text-container > h2 {
  color: #fff;
  font-size: 84px;
  margin-top: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 12px;
}

.hero-text-container > p {
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;;
}